# Data processed (KHÔNG commit)
data/processed/*

# Big Data 
data/raw/images/*
data/raw/*.zip
!data/raw/.gitkeep

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Cache
__pycache__/
*.pyc
*.pyo

# Large files
*.h5
*.pth
*.tar
*.gz
*.zip
